/** Gallegy */

#a-gallery {
	position:relative !important;
	margin:20px auto !important;
	font-size:0 !important;
}

#a-gallery-container {
	white-space: nowrap !important;
	overflow:hidden !important;
	position:absolute !important;
	top:0;
	left:0;
}

#a-gallery #slider {
	position:absolute;
	margin:0;
}

#a-gallery #a-gallery-left {
	position:absolute !important;
	width:40px !important;
	left:-40px !important;
	background:url('../images/left.png') no-repeat 0 50% !important;
	cursor:pointer !important;
	z-index:100;
}

#a-gallery #a-gallery-left:hover {
	background:url('../images/left-hover.png') no-repeat 0 50% !important;
}

#a-gallery #a-gallery-right {
	position:absolute !important;
	width:40px !important;
	top:0;
	background:url('../images/right.png') no-repeat 0 50% !important;
	cursor:pointer !important;
	z-index:100;
}

#a-gallery #a-gallery-right:hover {
	background:url('../images/right-hover.png') no-repeat 0 50% !important;
}

#a-gallery-container .image {
	background:none !important;
	margin:0 !important;
	padding:0 !important;
	float:none !important;
	display:inline-block !important;
	margin-right:10px !important;
}

/*#lightbox-image {
	max-width:800px !important;
	max-height: 566px;
}

#lightbox-container-image-box {
	max-width:816px !important;
	max-height: 566px;
}

#lightbox-container-image-data-box {
	max-width:796px !important;
}*/

/* **/