/** Admin */

#ag-sortable {
	margin: 10px 0;
	width:95%;
	font-size: 0;
	vertical-align: top;
}

#ag-sortable .item {
	margin-right: 10px;
	list-style: none;
	display: inline-block;
}

#ag-sortable .item .close {
	padding: 0 5px;
	font-size:12px;
	display:inline-block;
}

#ag-sortable .item .close:hover {
	color:white;
	background: red;
}

#ag-sortable .item img, #ag-add .ag-library-image {
	border: 2px solid #aaa;
}

#ag-sortable .item:hover img {
	border: 2px solid #ddd;
}

#ag-icon-options {
	background: url('../images/logo-36.png');
}

#ag-update-state {
	display: inline-block;
	margin: 20px 0 20px 10px;
}

#ag-add {
	margin-left:20px;
}

#ag-add .ag-attachment-desription {
	padding-left:20px
}
/* **/